
.tape {
  position: relative;
  margin: auto;
  width: 10.05cm;
  height: 6.4cm;
  border: 3px solid black;
  border-radius: 6px;
  background-color: black;
}

.wing {
  height: 30%;
  position: absolute;
  top: 60%;
  width: 5px;
  background-color: black;
}

.wing-left {
  left: -8px;
}

.wing-right {
  right: -8px;
}

.screw {
  width: 0.28cm;
  height: 0.3cm;
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #fff;
}

.screw-top {
  top: 1%;
}

.screw-bottom {
  bottom: 1%;
}

.screw-left {
  left: 1%;
}

.screw-right {
  right: 1%;
}

/* === Top Label === */

.label-top {
  position: relative;
  width: 90%;
  height: 22%;
  margin-top: 4%;
  margin-left: 5%;
  background-color: #fff;
}

.top-label-corner {
  position: absolute;
	width: 0;
	height: 0;
  top: 0;
  border-top: 20px solid black;
}

.label-corner-left {
  left: 0;
	border-right: 20px solid transparent;
}

.label-corner-right {
  right: 0;
	border-left: 20px solid transparent;
}

.header-now-playing {
  text-align: center;
  padding-top: 12px;
}

.title-now-playing {
  text-align: center;
  margin: auto;
  padding: 5px;
  width: 90%;
  background-color: rgba(255,250,200,0.8);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  font-size: 16px;
}

/* === End Top label === */
/* === Main label section === */

.label-main {
  posistion: relative;
  height: 45%;
  width: 90%;
  background-color: tomato;
  margin-left: 5%;
  margin-top: 0.5%;
}

.wheels-window-outer {
  position: relative;
  top: 10%;
  left: 10%;
  height: 75%;
  width: 80%;
  background-color: tomato;
}

.wheel-window {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: black;
}

.wheel-window-left {
  left: 0;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
}

.wheel-window-right {
  right: 0;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
}

.tape-window-center {
  position: absolute;
  left: 29%;
  height: 100%;
  width: 42%;
  background-color: black;
}

.wheel {
  position: relative;
  box-sizing: border-box;
  /*padding-top: 1px;*/
  padding: 4px;
  top: 11%;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  background-color: DimGrey;
}

.wheel-right {
  left: 12.5%;
}

.wheel-left {
  left: 12.5%;
}

.inner-wheel {
  position: relative;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 50%;
  height: 88%;
  width: 88%;
}
.wheel-playing {
  -webkit-animation:roll 2s infinite linear;
  -moz-animation:roll 2s infinite linear;
  animation:roll 3s infinite linear;
}

@-webkit-keyframes roll{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
@-moz-keyframes roll{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
@keyframes roll{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}

.wheel-tooth {
  position: absolute;
  top: 0;
  left: calc(50% - 3px);
  box-shadow: 0 2px 0 black;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  height: calc(100% + 1px);
  width: 6px;
  background-color: transparent;
  border-bottom: 6px solid black;
}

.spindle {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: white;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

/* === End Main Label Section === */
/* === Mech Panel === */

.mech-panel {
  position: relative;
  margin: auto;
  background-color: #333;
	height: 27.3%;
	width: 65%;
}

.mech-panel-corner {
  position: absolute;
	width: 0;
	height: 0;
  top: 0;
  border-top: 65px solid black;
}

.mech-corner-left {
  left: 0;
	border-right: 30px solid transparent;
}

.mech-corner-right {
  right: 0;
	border-left: 30px solid transparent;
}

.mech-hole {
  position: absolute;
  background-color: #fff;
}

.mech-middle-hole {
  height: 13px;
  width: 13px;
  right: 46.5%;
  top: 27%;
}

.mech-hold-round {
  border-radius: 50%;
}
.round-hole-large {
  height: 15px;
  width: 15px;
}

.round-hole-left {
  bottom: 10%;
  left: 10%;
}

.round-hole-right {
  bottom: 10%;
  right: 10%;
}
.square-hole {
  height: 12px;
  width: 12px;
  bottom: 25%;
}
.square-hole-left {
  left: 23%;
}

.square-hole-right {
  right: 23%;
}
/* === End Mech Panel === */
