.App {
  border: 3px solid pink;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.section-selected-mix {
  border: 3px solid red;
  height: 400px;
}

.aside-list {
  box-sizing: border-box;
}
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
