.li {
  list-style-type: none;
}

.empty-unit {
  position: relative;
  width: 100%;
  height: 1.4cm;
}

.empty-spacer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
}

.empty-ridge {
  position: absolute;
  height: 2px;
  width: 102px;
  background-color: white;
  border: 2px solid black;
}

.empty-ridge-left {
  left: -2px;
}
.empty-ridge-right {
  right: -2px;
}
